<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
       
        <section id="carriers">
            <group id="Newship" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">

                <label>custom new shipping method</label>

                <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>

                <field id="name" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Name</label>
                </field>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>IS Active:</label>
                <source_model>Acp\Shipping\Model\Config\Source\Yesno</source_model>
            </field>

            <field id="price" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                <label>Price</label>
            </field>

            </group>
        </section>

    </system>
</config>
